html,
body,
#root {
  min-height: 100%;
}

.App {
  text-align: center;
}

.app-header {
  height: 70px;
  border: 1px solid;
  margin: 0;
  padding: 10px;
}

#top-bar {
  background-color: rgb(10, 25, 41);
}